
h4{
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 800;
}

p{
    font-family: 'Times New Roman';
    
}

.subhead{
    font-style: italic;
    text-decoration: underline;
}

.gallery{
    width: 1090px;
    margin-right: 50px;
}
.wrap{
    display: flex;
}
.description{
    max-width: 500px;
}
#SolarGalleryFrame{
    width: 1090px;
    height: 100%;
}

#BodyGalleryFrame{
    width: 1090px;
    height: 100vh;
}
#gewaltGalleryFrame{
    width: 1090px;
    height: 100vh;
}

#universeGalleryFrame{
    width: 1090px;
    height: 100vh;
}