body {
    background-image: url("sparkling_star.gif");
}

.profile {
    margin: 40%;
    margin-top: 30px;
    min-width: 350px;
    max-width: 350px;
    position: center;
    border: 3px solid;
    border-color: blue;
    background-color: whitesmoke;
    
}

h1{
    text-align: center;
}

h3{
    text-align: center;
    color: blue;
}

img{
    display: block;
    margin: auto;
}

ul{
    list-style: none;
    padding-right: 50px;
}

p{
    text-align: center;
}